{% with p=request.path %}
  {% if request.session.access %}
    <ul class="nav app-nav py-1">
      <li class="nav-item">
        <a class="nav-link {% if p == '/' %}active{% endif %}" href="home/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if p|slice:':10' == '/materials' %}active{% endif %}" href="/materials/">Materials</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if p|slice:':10' == '/questions' %}active{% endif %}" href="/questions/">Questions</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if p|slice:':11' == '/flashcards' %}active{% endif %}" href="/flashcards/">Flashcards</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if p|slice:':8' == '/planner' %}active{% endif %}" href="/planner/">Planner</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if p|slice:':8' == '/profile' %}active{% endif %}" href="/profile/">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if p|slice:':7' == '/plans/' %}active{% endif %}" href="/plans/">Plans</a>
      </li>
    </ul>
  {% endif %}
{% endwith %}
